doctype html
html
  head
    title Email Confirmation
  body
    h1 Hello, #{name}!
    p Thank you for registering. Please click the link below to verify your email address:
    a(href=`http://${host}/verify-email?token=${token}`) Verify your email
